.page-wrapper {
  max-width: 1200px;
  margin: 80px auto 40px;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, .15);
}

.scanner-layout {
  display: flex;
  gap: 24px;
  margin-top: 30px;
  align-items: flex-start;
}

.scanner-column {
  flex: 1;
  min-width: 0;
}

.scanner-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.scanner-input {
  flex: 1;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #CBD5E1;
}

.scanner-video-wrapper {
  position: relative;
}

.scanner-video {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid #113F67;
}

.barcode-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.barcode-box {
  width: 70%;
  height: 45%;
  border: 3px dashed #22C55E;
  border-radius: 12px;
  background: rgba(0, 0, 0, .15);
}

.success-modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .6);
  font-weight: 200;
}

.success-box {
  background: white;
  padding: 32px;
  min-width: 280px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, .25);
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background: white;
  border: 1px solid #CBD5E1;
  border-radius: 8px;

  max-height: 200px;
  overflow-y: auto;

  z-index: 99999;
  box-shadow: 0 6px 16px rgba(0,0,0,.15);
}


.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #F3F4F6;
}

@media (max-width: 768px) {
  .page-wrapper {
    margin: 0;
    padding: 16px;
    border-radius: 0;
    box-shadow: none;
  }

  .scanner-layout {
    flex-direction: column;
    align-items: center;
  }

  .scanner-column { 
    width: 100%;        
    max-width: 500px;   
  }

  .scanner-actions {
    flex-direction: column;
  }

  .scanner-actions button {
    width: 100%;
    
  }
}