.checkout .form-check-input:checked {
  background-color: #ea1e25;
  border-color: #ea1e25;
}

.checkout .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(222, 215, 216, 0.25);
}

/* Checkout primary button override */
.checkout .btn-primary {
  --bs-btn-bg: #ea1e25;
  --bs-btn-border-color: #ea1e25;

  --bs-btn-hover-bg: #d51b22;
  --bs-btn-hover-border-color: #d51b22;

  --bs-btn-active-bg: #c3171e;
  --bs-btn-active-border-color: #c3171e;

  --bs-btn-focus-shadow-rgb: 234, 30, 37;

  --bs-btn-disabled-bg: #ea1e25;
  --bs-btn-disabled-border-color: #ea1e25;
}