@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; /* hide horizontal scroll */
  overflow-y: auto;   /* allow vertical scrolling for mobile dropdown */
  font-family: 'Poppins', sans-serif;
  position: relative;
}

/* Background container */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* behind everything */
  background-color: #ffffff;
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}
